<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>SERVICE_LABEL_NAME</string>
    <key>StandardErrorPath</key>
    <string>ERROR_FILE_PATH</string>
    <key>StandardOutPath</key>
    <string>OUTPUT_FILE_PATH</string>
    <key>Program</key>
    <string>PATH_TO_SCRIPT/start_browser.sh</string>
    <key>RunAtLoad</key>
    <true />
</dict>
</plist>
